Package: chd2iso-fuse-dbgsym
Source: chd2iso-fuse
Version: 0.1.0-2
Auto-Built-Package: debug-symbols
Architecture: amd64
Maintainer: Lloyd Smart <lloyd@lloydsmart.com>
Installed-Size: 923
Depends: chd2iso-fuse (= 0.1.0-2)
Section: debug
Priority: optional
Description: debug symbols for chd2iso-fuse
Build-Ids: d08c7e5945905155ff22c6f259a1e243de1f3de0
